<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

<servlet>
	<servlet-name>LeTestServlet</servlet-name>
	<display-name>LeTestSelvTes</display-name>
	<description></description>
	<servlet-class>servlets.LeTestServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>LeTestServlet</servlet-name>
	<url-pattern>/leTest</url-pattern>
</servlet-mapping>

<welcome-file-list>
	<welcome-file>taxonomy.jsp</welcome-file>
</welcome-file-list>

</web-app>
